{% extends "base.html.twig" %}
{% block title %}Organisation de mariages{% endblock %}
{% block body %}
    {% if events %}
        <table id="table" class="table table-striped">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Dates</th>
                <th>Adresse</th>
                <th>Déscription</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
        {% for event in events %}
        <tr>
            <td>{{ event.name}}</td>
             <td>{{ event.dday|date('y-m-d') }}</td>
            <td>{{ event.adresse }}</td>
            <td>{{ event.description }}</td>

            <td>
                <a href="/event/1" class="btn btn-dark">Show</a>
            </td>
            <td>
                <a href="{{ path('delete_event',{'id':event.id})}}" class="btn btn-danger delete-event" data-id="{{ event.id }}">Delete</a>
            </td>
        </tr>
            {% endfor %}
            </tbody>


        </table>
{% else %}
        <p>pas de mariages dans les jours à venir !</p>
    {% endif %}
{% endblock %}
{% block javascripts %}
    <script src="/js/main.js"></script>
{% endblock %}



