{% extends'base.html.twig' %}
{% block body %}
<h1>Home</h1>
    <a href="{{ path('login') }}">Connexion ➥</a>



    {% if form is defined %}
    {{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}

    <button type="submit">Register!</button>

    {{ form_end(form) }}
        {% else %}
        merde !
    {% endif %}
    <img style="width: 100%;height: 50%;position: absolute;left:0%;top:55%" alt="image" src="/build/img/party.jpg">
{% endblock %}