{% extends 'base.html.twig' %}
{% block body %}

<h1>Bienvenue :</h1>
<ul>
    <li>Name   :{{ user.username }}</li>
    <li>E-mail :{{ user.email }}</li>
</ul>
<a href="{{ path('test') }}">créer un evenement ➥</a>

{% endblock %}